#sudoku_title {
  background: black;
  color: white;
  margin: 0px 0px 2px 0px;
  font-size: 20px;
  padding: 2px 1px 5px 1px;
  text-align: center;
}

#sudoku_container {
  display: flex;
  height: 500px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sudokumat {
  text-align: center;
  width: 40px;
  height: 40px;
}

@keyframes wrongAnswer{
  50%{
    background-color: coral;
  }
}

#board {
  display: flex;
  justify-content: center;
}
#boardsubmit {
  margin: 10px;
  visibility: hidden;
}

#Brow {
  width: 60px;
}

#Bcol {
  width: 60px;
}

#Hint {
  visibility: hidden;
  padding: auto;
}
